## config for sm8650 platform
CONFIG_BOARD_PLATFORM="pineapple"

CONFIG_ZSMALLOC=m

# Charger
CONFIG_POWER_VENDOR_COMMON=y
CONFIG_VENDOR_CHARGER_POLICY_SERVICE=m
CONFIG_VENDOR_ZTE_MISC=m
CONFIG_ZTE_POWER_SUPPLY=m

# FP
CONFIG_GOODIX_FINGERPRINT=m

# Haptics
CONFIG_AWINIC_HAPTIC_HV=m

# IR
CONFIG_IR_SPI=m

# NFC
CONFIG_NFC_ST54J=y
CONFIG_NFC_ST54J_ESE=m
CONFIG_NFC_GPIO35_CLKREQ=y

#nubia_fan
CONFIG_SOC_FAN=m

#TOUCHKEY
CONFIG_AW9620X_SAR=m

# TP
CONFIG_TOUCHSCREEN_GOODIX_BRL_9916R=m
CONFIG_TOUCHSCREEN_GOODIX_BRL_SPI=y

CONFIG_GPIO_SYSFS=y

#nubia hw version
CONFIG_NUBIA_HW_VERSION=m
